In [ ]:
import pandas as pd

In [ ]:
data= {
    'ID': [1,2,3,4,5,6],
    'Name': ['Arun','Rohan','Aditya','Rohit','Riya', 'Diya'],
    'Age':[25,30,35,40,22,29],
    'States':['Maharashtra','Gujarat','Assam','Kerala','Delhi','Goa'],
    'Salary':[2000,450,300,800,150,400]
}

In [ ]:
#creating dataframe
df=pd.DataFrame(data)
print("Original Dataset:")
print(df)

Original Dataset:
   ID    Name  Age       States  Salary
0   1    Arun   25  Maharashtra    2000
1   2   Rohan   30      Gujarat     450
2   3  Aditya   35        Assam     300
3   4   Rohit   40       Kerala     800
4   5    Riya   22        Delhi     150
5   6    Diya   29          Goa     400

In [ ]:
#aggregation
#description: aggregate data eg calculate total sales by state
age_df=(df.groupby('State')['Sales'].sum().reset_index())
print(agg_df)

KeyError: 'State'

In [ ]:
#sort by sales in descending order
sorted_df=df.sort_values(by='Sales',ascending=False)
print("\nSort (desc sales): ")
print(sorted_df)

KeyError: 'Sales'

In [ ]:
#derived column: create anew column by deriving information from existing data

In [ ]:
#derived column:categorize sales as 'high' and 'low'
df['Sales Category']=df['Sales'].apply(lambda x:'High' if x>300 else 'Low')
print("\nDerived Column(Sales category): ")
print(df[['ID','Name','Sales','Sales_Category']])

In [ ]:

# String transformation: Convert 'Name' to uppercase
df['Name_upper'] = df['Name'].str.upper()
print("\nName in Uppercase:")
print(df[['ID', 'Name', 'Name_upper']])

# Multicast: Creating multiple copies of the data
df_copy1 = df.copy()
df_copy2 = df.copy()

# Modify copies to demonstrate multicast effect
df_copy1['Sales'] = df_copy1['Sales'] * 1.1  # Increase sales by 10%
df_copy2['Age'] = df_copy2['Age'] + df_copy2['Age']  # Double age

print("\nData Copy 1 (Sales increased by 10%):")
print(df_copy1)

print("\nData Copy 2 (Age Doubled):")
print(df_copy2)

# Conditional Split: Split the data into two parts based on sales threshold
high_sales = df[df['Sales'] > 300]
low_sales = df[df['Sales'] <= 300]

print("\nHigh Sales Data:")
print(high_sales)

print("\nLow Sales Data:")
print(low_sales)